<html>
<head>
<!-- App Templates -->
  <script id="AppView" type="text/template">
    <div class="headerView"></div>
    <div class="navView"></div>
    <div class="profileView"></div>
    <div class="followerView"></div>
  </script>

  <script id="HeaderView" type="text/template">
    <div id="header">
      <a class="float-left logo" href="#"><img src="assets/toolbar/logo.png" /></a>
      <input class="float-left" type="text" name="searchtext" placeholder="Search">
      <ul>
        <li><a href="#"><img src="assets/toolbar/notifications-icon.png" /></a></li>
        <li><a href="#"><img src="assets/toolbar/messages-icon.png" /></a></li>
        <li><a href="#"><img src="assets/toolbar/logged-in-user.png" /></a></li>
      </ul>
    </div>
  </script>

  <script id="NavView" type="text/template">
    <div id="nav-bar">
      <ul>
        <li><a href="#" id="nav-bar-profile" class="active"><img src="assets/nav-icons/profile-icon.png"/><br> PROFILE</a></li>
        <li><a href="#" id="nav-bar-following"><img src="assets/nav-icons/following-icon.png"/><br> FOLLOWING</a></li>
        <li><a href="#" id="nav-bar-playlists"><img src="assets/nav-icons/playlists-icon.png"/><br> PLAYLISTS</a></li>
        <li><a href="#" id="nav-bar-feed"><img src="assets/nav-icons/feed-icon.png"/><br> FEED</a></li>
        <li><a href="#" id="nav-bar-discover"><img src="assets/nav-icons/discover-icon.png"/><br> DISCOVER</a></li>
        <li><a href="#" id="nav-bar-trending"><img src="assets/nav-icons/trending-icon.png"/><br> TRENDING</a></li>
      </ul>
    </div>
  </script>

  <script id="ProfileView" type="text/template">
    <div id="profile-box">
    <ul>
      <li><a href="#"><img src="assets/header/user-profile-image.png" /></a></li>
      <li><span class="name-text">Adam Bishop</span></li>
      <li><span class="location-text">Chicago, IL</span></li>
      <div class="message-btn float-right"><a href="#"><img src="assets/header/messages-icon-small.png" /> Message</a></div>
    </ul>
    </div>
  </script>

  <script id="FollowerView" type="text/template">
    <div id="podcast-box">
      <ul id="podcast-list-options">
        <li><a href="#" id="podcast-list-following" class="active">45 Following</a></li>
        <li><a href="#" id="podcast-list-playlists">4 Playlists</a></li>
        <li><a href="#" id="podcast-list-likes">14 Likes</a></li>
      </ul>
      <div class="podcastCollectionView"></div>
    </div>
  </script>

  <script id="PodcastView" type="text/template">
    <div class="podcast-item">
      <span class="podcast-image-container float-left">

        <a href="#"><img class="podcast-image" src=<%= artUrl %>></a>
        <a href="#"><div class="podcast-image-overlay"></div></a>
        <a href="#"><span class="followingBtn">Following</span></a>
      </span>
      <span class="podcast-text float-left">
        <span class="podcast-text-title"><a href="#"><b><%= title %></b></a></span>
        <br>
        <span class="podcast-text-author">by <a href="#"><b><%= author %></b></a></span>
        <br>
        <span class="podcast-text-genre"><a href="#"><%= genre %></a></span>
      </span>
      <span class="podcast-stats float-left">
        <span class="podcast-stats-followers">
          <img src="/assets/followed-podcast-container/followers-icon.png"/> <%= followerCount %> Followers
        </span>
        <span class="podcast-stats-episodes">
          <img src="/assets/followed-podcast-container/episodes-icon.png"/> <%= episodeCount %> Episodes
        </span>
      </span>
    </div>
  </script>

<!-- Library .js files -->
  <script type="text/javascript" src="lib/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="lib/underscore/underscore.js"></script>
  <script type="text/javascript" src="lib/backbone/backbone.js"></script>
<!-- App .js files -->
  <script type="text/javascript" src="js/AppView.js"></script>
  <script type="text/javascript" src="js/HeaderView.js"></script>
  <script type="text/javascript" src="js/NavView.js"></script>
  <script type="text/javascript" src="js/ProfileView.js"></script>
  <script type="text/javascript" src="js/FollowerView.js"></script>
  <script type="text/javascript" src="js/PodcastCollectionView.js"></script>
  <script type="text/javascript" src="js/PodcastView.js"></script>
  <script type="text/javascript" src="podcastData.js"></script>

<!-- App .css files -->
  <link rel="stylesheet" type="text/css" href="css/app.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="container">
  </div>
</body>
</html>